:root{
  --l-red:#f5b2b2;
  --l-DBl:#c0c0f6;
  --l-green:#d3f6d3;
  --l-blue:#c3effd;
  --l-prpl:#f7c9f7;
  --d-green:#28fb28;
  --d-prpl:#fb34fb;
  --textC:#828181;
  --exchange-background-color: hsla(0,0%,100%,0.05);
}
@font-face {
    font-family: 'Pacifico-Regular';
    src: url('font/Pacifico-Regular.ttf');
}
.continar{
  margin:auto;
  overflow-x: hidden;
  /* background-image: linear-gradient(to right, var(--l-red), var(--l-DBl), var(--l-green), var(--l-blue), var(--l-prpl)); */
  background-size: 200% auto;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(14, 246, 114, 0.68);
  
}

header {
  width: 100vw;
  height: 5rem;
  display: flex;
  justify-content: start;
  align-items: center;
  border-bottom: 2px solid rgb(227, 221, 221);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px -1px rgba(0,0,0,0.1);
  background-image: linear-gradient(to right, var(--l-red), var(--l-DBl), var(--l-green), var(--l-blue), var(--l-prpl));
  background-size: 200% auto;
  animation: gradientAnimation 20s alternate-reverse infinite ;
}

@keyframes gradientAnimation {
  0% {
      background-position: 0% center;
  }
  100% {
      background-position: 100% center;
  }
}

#logo{
    width: 3rem;
    
}

#brand{
    text-decoration: none;
    font-family:'Pacifico-Regular' ;
    color: black;
    font-size: larger;
}

/*----------------------------------------- main */
main{
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  padding: 0 0.8rem;
  line-height: 1.25rem;
  word-wrap: break-word;
  letter-spacing: 0.8px;
  word-spacing: 0.5px;
  background-image: linear-gradient(to right, var(--l-red), var(--l-DBl), var(--l-green), var(--l-blue), var(--l-prpl));
  background-size: 200% auto;
  animation: gradientAnimation 20s alternate-reverse infinite ;
  /* box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45); */
  
}
.con1{
  margin-top: 3rem;
}
.dis{
  padding-top: 2rem;
}
.s1{
  font-size: 1.63rem;
}
.s2{
  font-size: 0.8rem;
  color: rgb(130, 129, 129);
  display: block;
  width: 19rem;
  

}
/* -------------------------------------con2 */
.con2{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.convert{
  font-size: 0.6rem;
  /* margin-left: 1rem; */
  color: var(--textC);
}
.t{
  position: relative;
  top: 1rem;
}
.chen{
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.crypto{
  display: flex;
  align-items: center;
  width: 40%;
  border-top-left-radius:6px ;
  border-bottom-left-radius:6px ;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  border: 2px solid  var(--l-blue);
  height: 2rem;
  padding: 4px 15px;
  border-right: 0;
  cursor: pointer;
}
.chen input{
  height: 2.3rem;
  border-top-right-radius:6px ;
  border-bottom-right-radius:6px ;
  outline: none;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 2px solid var(--l-red);
  width: 100%;
  }
.crypto span{
  margin-left: 8px;
  font-weight: bold;
}
.crypto p{
  font-size: 0.7rem;
  color: var(--textC);
  margin-left: 3px;
  font-weight: bolder;
}
.tocon{
  margin-top: 1rem;
}
#simbolconvert{
  text-align: center;
  display: block;
  margin-top: 2rem;
}
.clun{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
/* ----------------------btn */
#connectwallet{
  width: 250px;
  height: 2.3rem;
  margin-top: 2rem;
  border: solid black 2px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content:center ;
  background-color: #2d2df3;
  box-shadow: inset 0 3px 7px hsla(0,0%,100%,.229977);
  color: white;
  cursor: pointer;
}
.con2 a{
  margin-top: 2rem;
  font-size: 0.8rem;
}
/* ------------------------------footer */
footer{
  width: 100%;
  height: 5rem;
  background-color: #6e6ef3;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}
footer span span{
  font-family:  'Pacifico-Regular';
  font-size: larger;

}
footer img{
  width: 20px;
  margin-left: 10px;
  border-radius: 10px;
}
.icdr{
  margin-left: 1.6rem;
}
.icdr1{
  margin-left: 3.5rem;
}
@media screen and (max-width:768px) {
  /* .icdr,.icdr1{
    display: none;
  } */
}
@media screen and (min-width:768px){
  .continar{
    max-width: 769px;
  }
  .dis{
    padding-left: 2.5rem;
  }
  .chen{
    width: 350px;
  }
  .crypto{
    width: 60%;
  }
  .chen input{
    width: 100%;
  }
}
